<% title "Deploys" %>

<%= render partial: "siblings/nav", locals: { page: :deploys } %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Created at</td>
      <td>Heroku app name</td>
      <td>State</td>
      <td>Git repo</td>
      <td>Heroku Repo</td>
      <td>Sibling id</td>
      <td>Instruction id</td>
      <td>Manual</td>
    </tr>
  </thead>
  <tbody>
    <% @siblings_deploys.each do |t| %>
      <tr>
        <td>t.id</td>
        <td>t.created_at</td>
        <td>t.heroku_app_name</td>
        <td>t.state</td>
        <td>t.git_repo</td>
        <td>t.heroku_repo</td>
        <td>t.sibling_id</td>
        <td>t.instruction_id</td>
        <td>t.manual</td>
      </tr>
    <% end %>
  </tbody>
</table>
